body {
background-color: darkviolet;
color: yellow;
}
button {
border-radius: 3px;
color: teal;
justify-self: center;
height: 40px;
width: 200px;
margin-left: 60px;
}
input {
justify-self: center;
width: 100%;
}
fieldset {
margin-top: 10px;
}
      
      
      
      








