body {
background-color: darkviolet;
color: yellow;
}
button {
border-radius: 3px;
color: teal;
}
input {
justify-self: center;
width: 100%;
}
fieldset {
margin-top: 10px;
}
    
      
      
      
      








