body {
background-color: aquamarine;
color: plum;
font-family: Times New Roman
}
button {
border-radius: 5px solid grey;
color: teal;
justify-self: center;
height: 40px;
width: 300px;
margin-top: 10px;
}
input {
justify-self: center;
width: 100%;
color: teal;
font-family: Segoe Print;
font- color: cyan;
}
fieldset {
margin-top: 10px;
font-family: Papyrus;
}
      
      
      
      








